.ICEauthority
.Xauthority
.adobe
.apport-ignore.xml
.bash_history
.bash_logout
.cache
.ccache
.compiz-1
.config
.crash_report*
.dbus
.dmenu_cache
.dmrc
.dropbox-dist
.dropbox
.eclipse
.emacs*
.esd_auth
.face
.fontconfig
.forward
.gconf*
.gegl-0.0
.gem
.gimp*
.gksu.lock
.gnome2
.goutputstream*
.grasp_settings
.gstreamer-0.10
.gtk-bookmarks
.hedgewars
.heroku
.icedtea
.imaprc
.kde
.kshrc
.lesshst
.libreoffice
.local
.m2
.macromedia
.mailcap
.mime.types
.mission-control
.mozilla
.netrc
.openoffice.org
.pki
.profile
.psensor
.pulse-cookie
.pulse
.purple
.rpmdb
.shotwell
.spice-vdagent
.sqlite_history
.ssh
.subversion
.sudo_as_admin_successful
.supertux2
.thunderbird
.thumbnails
.vim.old
.vim/.netrwhist
.viminfo
.xsession-errors
.xsession-errors.old
Backlog
Documents
Downloads
Dropbox
Media
Python-2.7.2
Smoogles
Sublime*
Workspace
offline-reading
pygooglevoice
pypy-2.0-beta1
requirements.txt
scripts
ICAClient
WindowsFolders
public_html
