.ICEauthority
.Xauthority
.adobe
.apport-ignore.xml
.bash_history
.bash_logout
.cache
.compiz-1
.config
.dbus
.dmenu_cache
.dmrc
.dropbox-dist
.dropbox
.eclipse
.esd_auth
.face
.fontconfig
.gconf
.gegl-0.0
.gem
.gimp-2.6
.gksu.lock
.gnome2
.goutputstream*
.gstreamer-0.10
.gtk-bookmarks
.hedgewars
.heroku
.icedtea
.lesshst
.libreoffice
.local
.m2
.macromedia
.mission-control
.mozilla
.netrc
.pki
.profile
.psensor
.pulse-cookie
.pulse
.purple
.rpmdb
.shotwell
.sqlite_history
.ssh
.sudo_as_admin_successful
.supertux2
.thumbnails
.vim.old
.vim/.netrwhist
.viminfo
.xsession-errors
.xsession-errors.old
Backlog
Documents
Downloads
Dropbox
Media
Python-2.7.2
Smoogles
Sublime*
Workspace
offline-reading
pygooglevoice
pypy-2.0-beta1
requirements.txt
scripts
