[user]
	name = japacible
	email = japacible@gmail.com
[credential]
	helper = cache --timeout=3600

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = true
[core]
	excludesfile = /homes/iws/apacible/.gitignore_global
